<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width">
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}
        <!-- Renders a link tag (if your module requires any CSS)
        <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js" defer></script>
        <script src="/build/app.js" defer></script>
        See note below about the "defer" attribute -->
    {% endblock %}
    <style>
        html, body {
          height: fit-content;
          background-color: #191c29;
          font-size: 2rem;
        }
        .input, .button {
          background-color: #464953;
          color: #cb9d06;
          border-color: unset;
        }
        .label {
          color: #cb9d06;
        }
        .button:hover {
          color: #191c29;
        }
        .container .columns .column {
          margin: 30px;
          padding: 0px;
        }
    </style>
</head>
<body>
<div class="container is-fluid">
    <section id="header" class="is-flex">
        <div id="menu-gauche">
            <a href="/">Accueil</a>
        </div>
        <div id="menu-droite" class="push">
            <a href="/inscription">S'inscrire</a>
        </div>
    </section>
</div>

<div class="container is-fluid">
    <div class="columns is-desktop">
        <form action="{{ path('app_login') }}" method="post">
            <div class="column">
                <label for="username" class="label">Nom d'utilisateur</label>
                <input class="input" name="_username" type="text">
            </div>
            <div class="column">
                <label for="username" class="label">Mot de passe</label>
                <input class="input" name="_password" type="text">
            </div>
            <div class="column">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="button" type="submit">Connexion</button>
            </div>
        </form>
    </div>
</div>




{#OLD
<div class="container is-fluid">
    <div class="columns paddingtop1">
        <div class="column is-half is-offset-one-quarter">
            <form action="{{ path('app_login') }}" method="post">
                <label class="label" for="username">Nom d'utilisateur:</label>
                <input class="input" type="text" id="username" name="_username" value="{{ last_username }}"/>
                <label class="label" for="password">Mot de passe:</label>
                <input class="input" type="password" id="password" name="_password"/>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                {#
                If you want to control the URL the user
                   is redirected to on success (more details below)
                   <input type="hidden" name="_target_path" value="/account"/>
                
                <button class="button margin-top1" type="submit">Connexion</button>
            </form>
        </div>
    </div>
</div>
#}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{% if app.user %}
    <div class="mb-3">
        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
{% endif %}
</body>
</html>
