<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width">
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}
        <!-- Renders a link tag (if your module requires any CSS) 
        <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js" defer></script>
        <script src="/build/app.js" defer></script>
        See note below about the "defer" attribute -->
    {% endblock %}
</head>
<body>

    <section id="home">
        {{ number }} | {{ message }}
    </section>

    {% for key in files %}
        <li>{{ key }}</li>
    {% endfor %}


    <audio preload="auto" id="audio" controls>
        <source id="audiosource" src="JACKBOYS, Sheck Wes - GANG GANG.mp3">
	</audio>
	<table class="player">
		<td><input type="checkbox" id="backward" onclick="backward()"/><label class="backward" for="backward"></label></td>
		<td><input type="checkbox" id="play" title="Play" onclick="togglePlayPause()"/><label class="play" for="play"></label></td>
		<td><input type="checkbox" id="forward" onclick="forward()"/><label class="forward" for="forward"></label></td>
	</table>
	
	
    <script>
        var musics = [];
        {% for key in files %}
            musics.push('{{ key }}');
        {% endfor %}
        console.log(musics);
        // How Many Songs In Playlist
        var HMSIP = musics.length - 1;
        console.log(HMSIP);
        var audio = document.getElementById('audio');
        var playpause = document.getElementById("play");
        var source = document.getElementById('audiosource');
        // Music Playing In Playlist
        var MPIP = 3;
        source.src = musics[MPIP];
        
        function togglePlayPause() {
           if (audio.paused || audio.ended) {
              playpause.title = "Pause";
              audio.play();
           } else {
              playpause.title = "Play";
              audio.pause();
           }
        }

        function backward(){
            var previousSong = MPIP - 1;
            if (previousSong < 0) {
                 source.src = musics[HMSIP];
                 audio.play();
            } else {
                source.src = musics[previousSong];
                audio.play();
            }
            console.log('backward');
        }

        function forward(){
            var nextSong = MPIP + 1;
            if (nextSong > HMSIP) {
                source.src = musics[0];
                audio.play();
            } else {
                source.src = musics[nextSong];
                audio.play();
            }
            console.log('forward');
        }

        var actualyPlaying 
    </script>
</body>
</html>